.runSelectContainer > div {
    margin-top: 0.5em;
}

.runSelectContainer input {
    margin-left: 0.4em;
}

.selectedInvestigation {
    display: flex;
    margin-bottom: 1em;
}

.investigationInputContainer {
    display: flex;
    align-items: center;
}

.investigationInputContainer > input {
    margin-right: 0.5em;
}

.moveRunsCard {
    display: flex;
    background-color: var(--color-blue-very-light);
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.2em;
    overflow: scroll;
}

.moveRunsCardContent {
    display: flex;
    flex-direction: column;
}

.closeButton {
    width: 1.4em;
    height: 1.4em;
    margin-left: 0.2em;
}

.selectedRunsContainer {
    display: flex;
    border-radius: 0.5em;
    gap: 0.5em;
    padding: 0.2em;
}

.runRangeContainer {
    border: 1px solid black;
    background-color: var(--color-grey-very-light);
    user-select: none;
    cursor: pointer;
    padding: 0 0.1em;
}

.description {
    font-size: large;
    font-style: italic;
}