table {
    border-collapse: collapse;
}

.tableHeader {
    text-align: left;
    padding: 0.1em 0.25em;
}

.tableHeader p {
    user-select: none;
    cursor: pointer;
}

td {
    padding: 0 0.25em;
}
