.tabSwitcher {
    display: inline-block;
    background-color: var(--color-blue-very-light);
    padding: 0.2em 0.2em 0 0.2em;
    border: 1px solid var(--color-grey-dark);
    width: 100%;
}

.tabSwitcher button {
    margin: 0.2em 0.25em -1px 0.25em;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--color-grey-dark);
    font-size: large;
}

.tabSwitcher button.selectedTab {
    background-color: var(--color-grey-very-light);
    border-bottom: 1px solid transparent;
}
