.tableList {
    list-style: none;
    margin-left: -2.3em;
    margin-right: 0.4em;
    margin-top: -0.8em;
}

.tableList li {
    margin: 0.1em 0;
}

.typingPreview {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    background: #efe0ba;
}

.typingPreview h2 {
    font-size: x-large;
    font-weight: 800;
    padding: 0.2em;
    margin: 0;
}

.typingPreview h2:empty {
    padding: 0;
}

.active {
    opacity: 0.9;
    transition: opacity, 0.05s;
}

.matched {
    color: green;
}

.notMatched {
    color: red;
}

.suggestion {
    opacity: 0.5;
}
