.viewContainer ul {
    list-style: none;
    margin-left: -1.6em;
    margin-right: 0.4em;
}

.viewContainer ul li {
    margin: 0.1em 0;
}

.viewContainer ul li button {
    border: none;
    padding: 0.05em 0.2em;
}
