.entityRow td {
    padding: 0.1em 0.25em;
}

/*
Used to ensure icons with different height don't cause rows to move around.
Because this is in a table, height acts like min-height.
*/
.entityRow button {
    height: 2em;
}

.entityRow:nth-child(even) {
    background-color: var(--color-grey-light);
}

.entityRow:nth-child(odd) {
    background-color: var(--color-grey-very-light);
}

.markedForDeletion {
    text-decoration: line-through;
}

.entityRow:nth-child(even) .markedForDeletion {
    background-color: var(--color-red-light);
}

.entityRow:nth-child(odd) .markedForDeletion {
    background-color: var(--color-red-very-light);
}

.entityRow:nth-child(even) .newRow {
    background-color: var(--color-green-light);
}

.entityRow:nth-child(odd) .newRow {
    background-color: var(--color-green-very-light);
}

.editInput {
    width: 95%;
}

.modified {
    background: lightgreen;
}