.entityRow:nth-child(even) {
    background-color: #f3f3f3;
}

.entityRow:nth-child(odd) {
    background-color: #fafafa;
}

.markedForDeletion {
    text-decoration: line-through;
}

.entityRow:nth-child(even) .markedForDeletion {
    background-color: #f4c3c6;
}

.entityRow:nth-child(odd) .markedForDeletion {
    background-color: #f4cbcd;
}

.entityRow:nth-child(even) .newRow {
    background-color: #d4fdd6;
}

.entityRow:nth-child(odd) .newRow {
    background-color: #e1ffe2;
}

.editInput {
    width: 95%;
}
