.header {
	position: fixed;
    display: flex;
	left: 0;
	top: 0;
	width: 100%;
	height: 52px;
	padding: 0 1.5em 0 0 ;
	background: #008fbb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 0.6em 0 0.6em;
	font-size: 28px;
	line-height: 52px;
	font-weight: 400;
	color: #FFF;
}

.header nav {
	float: right;
	flex-grow: 1; /* Take up the rest of the header (if nothing else has flex-grow) */
	display: flex;
}

.header nav a {
	line-height: 52px;
	padding: 0 0.5em;
	min-width: 2.5em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	will-change: background-color;
}

.header nav a:hover {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

#tipsLink {
	margin-left: auto;
}
