html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.page {
    display: grid;
    grid-template-columns: 2fr 8fr 5fr;
    grid-auto-rows: min-content;
	padding: 72px 20px;
	min-height: 100%;
	width: 100%;
}

.leftColumn {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mainContentAndRightColumn {
    grid-column-start: 2;
    grid-column-end: 4;
}

.mainContent {
    grid-column-start: 2;
    grid-column-end: 3;
}

.entityButton {
    border: none;
    padding: 0.08em 0.3em;
}

.hidden {
	display: none;
}
