html {
    --color-default-text: #333;

    --color-banner-blue: #008fbb;

    --color-blue-very-light: #e5f5f9;

    --color-green-light: #d4fdd6;
    --color-green-very-light: #e4fee6;

    --color-red-light: #f4c4c6;
    --color-red-very-light: #f4cbcd;

    --color-grey-very-dark: #343434;
    --color-grey-dark: #666;
    --color-grey-slightly-dark: #b8b8b8;
    --color-grey: #ddd;
    --color-grey-slightly-light: #e6e6e6;
    --color-grey-light: #f3f3f3;
    --color-grey-very-light: #fafafa;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--color-grey-very-light);
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: var(--color-default-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-columns: 2fr 8fr 5fr;
    grid-auto-rows: min-content;
    padding: 72px 20px;
    min-height: 100%;
    width: 100%;
}

.leftColumn {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mainContentAndRightColumn {
    grid-column-start: 2;
    grid-column-end: 4;
}

.mainContent {
    grid-column-start: 2;
    grid-column-end: 3;
}

.entityButton {
    border: 0;
    border-radius: 2px;
    padding: 0.08em 0.3em;
}

.hidden {
    display: none;
}
