.leftColumn {
    grid-column-start: 1;
    grid-column-end: 2;
}

.leftColumn h2 {
    margin: 0.45em 0.1em 0.1em 0.1em;
    user-select: none;
}

.tableList {
    list-style: none;
    margin-left: -2.3em;
    margin-right: 0.4em;
}

.tableList li {
    margin: 0.1em 0;
}

.entityButton {
    border: 0;
    border-radius: 2px;
    padding: 0.08em 0.3em;
}

